*~
*.bin
*.d
*.dll
*.elf
*.hex
*.dfu
*.exe
*.lst
*.o
*.obj
*.px4
*.vrx
*.pyc
*.tlog
*.tlog.raw
*.vbrain
*.uvoptx
*.uvguix.*
.*.swo
.*.swp
.built
.context
*.suo
.cproject
.depend
.directory
.DS_Store
.metadata/
.project
.settings/
.vagrant
/tmp/*
Thumbs.db
Listings/*
Objects/*
tool/osdconfig/obj/*
tool/osdconfig/CTToolUpdater/obj/*
tool/osdconfig/bin/Release/*
tool/osdconfig/bin/Debug/*
*.application
*.manifest
*.pdb
